<h1>Hello world</h1>
<h2>{{"Hello world".repeat(5)}}</h2>
<p> 3+3 = {{3+3}}</p>
<p> {{title}}</p>

<h1>NgModel</h1>
<p>Nombre  {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age  {{person.age}}</p>
<input type="number" max="90" min="18" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>

<h1>NgIf#</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'Nicolas'">Soy nicolas</p>
<p *ngIf="person.name === 'Juan'; else myBlock">Soy juan</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
